# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework

# Misc
*.log
*.lock
.env
